p.expand_link {
	margin: 0 !important;
}
a.linkBtn {
	display: block;
	background: rgba(204,0,0,.8) !important;
	padding: .5em !important;
	border: 0 !important;
	color: rgba(255,255,255,1) !important;
	margin-bottom: 1px;
	transition: all .3s;
	font: inherit !important;
	overflow: auto;
}
a.linkBtn:hover {
	background: rgba(204,0,0,.6) !important;
	color:  #fff !important;
}
.expand_linkArea {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
form.expand_button {
	background: rgba(204,0,0,.8) !important;
	margin: 0 1px 1px 0;
	cursor: pointer;
	display: block;
	padding: .5em !important;
	border: 0 !important;
	color: rgba(255,255,255,1) !important;
	transition: all .3s;
	font: inherit !important;
	overflow: hidden;
}
form.expand_button:hover {
	background: rgba(204,0,0,.6) !important;
	color:  #fff !important;
}
form.expand_button.current {
	background: rgba(204,0,0,1) !important;
}
form.expand_button input {
	cursor: pointer;
	padding: 0;
	font: inherit;
	color: #fff;
	background: transparent;
	border: 0;
	border-radius: 0;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 100%;
}
form.expand_button input:hover {
	cursor: pointer;
	padding: 0;
	font: inherit;
	color: #fff;
	background: transparent;
	border: 0;
	border-radius: 0;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 100%;
}
.expand_content {
	position: relative;
	background: transparent !important;
	padding: 0 !important;
}
.expand_content.open {
	margin: 0;
	background: transparent !important;
	padding: 0 !important;
}
.expand_area {
	overflow: auto;
}
.expand_linkArea ~ .expand_content {
	box-shadow: inset 0 1px 0 rgba(0,0,0,0.25), inset 0 -1px 0 rgba(0,0,0,0.25) !important;
}
div.ecClose  button {
	display: inline-block;
	background: #bbb;
	color: #333;
	margin: .25em;
	padding: .25em .5em;
	position: absolute;
	right: 0;
	bottom: 0;
	border: 1px solid #aaa;
	background: #eee;
	font: inherit !important;
	font-size: .9em !important;
	border-radius: 3px;
	cursor: pointer;
}
div.ecClose button:hover {
	background: #fff !important;
	color: #333 !important;
}
.expand_link a::after {
	content: "↓";
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: inherit !important;
	font-weight: bold;
	font-size: 1em !important;
	line-height: 1 !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	float: right;
	transition: transform .3s linear;
	-webkit-transition: -webkit-transform .3s linear;
}
.expand_link a.current::after {
	content: "↓";
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}
.deepLink a {
	border: 0 !important;
	text-decoration: none;
}