.expand_linkArea {
	display: flex;
	flex-wrap: wrap;
}
.expand_link {
}
.expand_link a {
}
.expand_content {
	box-sizing: border-box;
	max-height: 0;
	padding: 0;
	overflow: hidden;
	transition: all .5s ease-out;
	position: relative;
}
.expand_content.open {
	margin: 1em 0;
}
.expand_area {
}
.expand_button {
	cursor: pointer;
	display: inline-block;
	overflow: hidden;
	margin: 0 1px 1px 0;
}
form.expand_button input {
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}
.ecClose {
	text-align: right;
}
.ecClose button {
	cursor: pointer;
}
.deepLink {
	text-align: right;
}
.deepLink a {
}
